.icon{
    font-size: 15px;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 5px;
  color: black;

}
.icon:hover{
    font-size: 13px;
    background-color: blue;
    color: black;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /Without this, clicking will make it sticky/
      pointer-events: none;
  }
  ul{
      display: inline-block;
      
  }
  .carousel-inner img {
    width: 226px;
    height: 150px;
}
.carousel-inner{
    margin: 0px;
    padding: 0px;
}
.image40{
    width: 40px;
    height: 40px;
    color: black;
    
}
.imageup{
    align-content: center;

}
.box{
    /* box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16); */
}@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }